html{}
body
{
background:url("healthwise6.jpg");
margin:12px;
background-repeat: no-repeat;

}
* {
box-sizing: border-box;
}
#header{
    background: #568556bb;
    width:1240px;
    min-width: 500px;
    height:100px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between ;
    border-radius:20px;
    padding:15px;
    margin:15px;
    overflow: hidden;
    line-height:12px;
    border:1px solid black;
}

#menu{
    width:1000px;
    height:100px;
    display:flex;
    flex-flow:row nowrap;
    -ms-flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    overflow:hidden;
    margin:auto;

}
#logo{
    width:200px;
    height:100px;
    overflow:hidden;

}
li
{
    float:left;
    position:relative;
    top:50px
}
a{
    text-decoration: none;
    font-size: 25px;
    color:#ffffff;
}
a:active
{
color:#ffff00;
}
a:visited
{
    color:#ffffff;
}
a:hover
{
    color:#800000;
}
@media (min-width:400px)
{
    #header , #footer
    {
        display:flex;
        flex: row nowrap;
        position:relative;
    }
}
#ads2
{
height:70px;
position:relative;
top:0px;
border-radius: 5px;
display:flex;
    flex-wrap:nowrap;
    width:1250px;
    margin:10px;
    overflow:hidden;
    flex-flow:row nowrap;
    border-radius: 20px;

}
#post
{
    width:300px;
    height:900px;
    border:4px solid white;
    float:right;
    position: relative;
    top:30px;
    background: rgb(147, 196, 168);
    right:10px;
    text-align: center;
    border-radius: 20px;
    overflow:auto;
}
label
{
font-weight: bold;
}
.search
{
padding-top: 15px;
float:right;
}
#main
{
    width:600px;
    height:900px;
    display:flex;
    border:2px solid gainsboro;
    margin:auto;
    position: relative;
    right:5px;
    top:30px;
    left:5px;
    border-radius: 20px;
    overflow:auto;
    text-align:center;
}
#ads
{
    width:300px;
    height:900px;
    border:1px solid ghostwhite;
    position: relative;
    top:30px;
    left:20px;
    right:20px;
    border-radius: 20px;
    overflow:auto;
}
#main-body
{
    margin:10px;
    display:flex;
    flex-wrap: nowrap;
    max-width: 1250px;
    
}
#footer{
    border:1px solid black;
    background:#568556bb;
    height:200px;
    width:1250px;
    min-width: 500px;
    display:flex;
    -ms-flex-flow: row nowrap;
    flex-flow:row wrap;
    overflow:hidden;
    justify-content: space-around;
    border-radius:20px;
}
#design{
    height:50px;
    width:500px;
    position:relative;
    top:145px;
    left:20px;
    overflow:none;
    display:flex;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    text-align:center;
    text-indent: 200px;
    padding:0px;
    margin:0px;
}
#contact{
    height:170px;
    width:500px;
    position:relative;
    top:20px;
    overflow:auto;
    display:inline-block;
    text-align: center;
}
p>span{
  position:relative;
  display:block;
  font-size: 15px;
  color:rgb(255, 255, 255);
}
h3>span{
   color:rgb(255, 255, 255);
}